@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

/* ===== Apply general style properties ===== */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 6em;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* ===== Header/Navbar section ===== */

#header {
    width: 100vw;
    height: 5em;
    padding: .5em 0;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px 1px rgb(223, 223, 223);
    z-index: 9999;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 10em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.nav-menu li {
    margin: 0 1em;
}

.nav-menu a {
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    letter-spacing: 1px;
}


/* ===== Hero section ===== */

.container {
    width: 100vw;
    height: 100vh;
}
