@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

/* ===== Apply general style properties ===== */

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 5em;
    scroll-behavior: smooth;
}

li,
ol,
ul,
a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* ===== Header/Navbar section ===== */

#header {
    width: 100vw;
    height: 5em;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px 1px rgba(223, 223, 223, 0.3);
    z-index: 9999;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 10em;
    margin: .5em auto;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    margin: auto 1em;
}

.nav-menu a {
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    letter-spacing: 2px;
}


/* ===== Hero section ===== */

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.container_left,
.container_right {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_left {
    background-color: #006161;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container_left h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 1em auto;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 2px;
    color: white;
    font-weight: 300;
}

.container_left a {
    background-color: #ff8749d9;
    color: black;
    text-transform: uppercase;
    padding: .6em 1em;
    margin-bottom: 8em;
    font-size: 1.2em;
    font-weight: 500;
}

.container_right {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/hero-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #006161;
}

.container_right h1 {
    margin-bottom: 9em;
    line-height: 1.6em;
}

/* ===== Services section ===== */

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.bg-img {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/services-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container.container-column p {
    width: 100%;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    margin-top: -1em;
    background-color: rgba(255, 255, 255, 0.7);
}

.wrapper {
    width: 200px;
    height: 90px;
    border: 1px solid #222222;
    border-radius: .5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1em 0;
}

.wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #222222;
}

.fa-solid {
    margin: 1em;
}

/* ===== About us section ===== */

#about_us {
    margin-top: 4em;
}

#about_us > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(253, 253, 253, 0.3)), url("../images/about-bg.jpg") no-repeat center center;
    background-size: cover;
  }
  
  .content-box {
    width: 75vw;
    height: fit-content;
    background: rgba(255, 255, 255, 0.904);
    box-shadow: 0px 0px 1px 1px #b9b9b9;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3em;
    padding: .8em;
    margin-bottom: 4em;

  }
  
  .content-box p span {
    color: #ff8649;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .acontent-box h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  
  .horizontal-line {
    width: 70%;
    height: 1px;
    background-color: #006161;
    margin: .5em auto;
  }

  /* ===== Find us section ===== */

  .find_us > .container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .find_us_map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .illustration {
    display: none;
  }

  address {
      text-align: center;
  }
  
  address a, p {
    color: #222222;
    line-height: 1.5em;
  }
  
  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
  }
  
  .fa-brands {
    margin: 0 1.2em;
    color: #242929;
    font-size: 1.5em;
  }
  
  .copyright {
    text-align: center;
    margin: 1em auto;
  }

/* ========================= Media queries  ========================= */

@media screen and (min-width: 375px) {

    /* ===== Header/Navbar section ===== */

    .nav-menu a {
        font-size: 1.2em;
    }

    /* ===== Hero section ===== */

    .container_right h1 {
        font-size: 1.7em;
    }

    .container_left img {
        width: 8em;
    }

}

@media screen and (min-width: 425px) {
    /* ===== Header/Navbar section ===== */

    .nav-menu a {
        font-size: 1.3em;
    }

    /* ===== Hero section ===== */

    .container_right h1 {
        font-size: 1.9em;
    }

    .container_left img {
        width: 9em;
    }

    .container_left a {
        font-size: 1.4em;
    }

}

@media screen and (min-width: 768px) {

    /* ===== Header/Navbar section ===== */

    .nav-bar {
        flex-direction: row;
        margin: 1em;
        justify-content: space-between;
    }

    .logo {
        width: 12em;
    }

    .nav-menu a {
        font-size: 1.2em;
    }

    /* ===== Hero section ===== */

    .container_right h1 {
        font-size: 3.5em;
        margin-bottom: 4em;
    }

    .container_left img {
        width: 12em;
        margin: 0;
    }

    .container_left h2 {
        font-size: 1.8em;
    }

    .container_left a {
        font-size: 1.5em;
        margin-bottom: 4em;
    }

    /* ===== Services section ===== */

    .container.container-column h2 {
        font-size: 2em;
        margin-top: 2em;
    }

    .container.container-column p {
        font-size: 1.8em;
        margin-top: 1.8em;
    }

    .wrapper-container {
        display: flex;
        flex-direction: row;
    }

    .wrapper {
        height: 200px;
        width: 120px;
        margin: 2.5em 1em;
    }

    .wrapper a {
        margin: 1em auto;
    }

    .fa-solid {
        margin: 1.4em;
        font-size: 1.4em;
    }

}

@media screen and (min-width: 1024px) {

    /* ===== Header/Navbar section ===== */

    .logo {
        width: 14em;
    }

    .nav-menu a {
        font-size: 1.5em;
    }

    /* ===== Hero section ===== */

    .container_right h1 {
        font-size: 4em;
    }

    /* ===== Services section ===== */

    .wrapper {
        margin: 4em;
    }

    .wrapper a {
        font-size: 1.5em;
        margin: 0;
    }

    .fa-solid {
        font-size: 1.8em;
        margin: 1em 0;
    }

}

@media screen and (min-width: 1440px) {

    /* ===== Header/Navbar section ===== */

    .logo {
        width: 15em;
        margin: auto 2.5em;
    }

    .nav-menu li {
        margin: auto 3em;
    }

    .nav-menu a {
        font-size: 1.7em;
    }

    /* ===== Hero section ===== */

    .container_right h1 {
        font-size: 5em;
    }

}